@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sf-pro-display-medium';
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'sf-pro-display-regular';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-pro-display-bold';
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --font-montserrat: "Montserrat", sans-serif;
    --font-montserrat-alt: "Montserrat Alternates", serif;
    --font-instrument-sans: "Instrument Sans", sans-serif;
}

body {
    background-color: #f9f9f9;
    font-family: var(--font-instrument-sans)
}

h1 {
    font-family: 'sf-pro-display-medium', sans-serif;
}

.Sidebar p {
    font-family: var(--font-instrument-sans)
}